.App {
  text-align: center;
  font-size: 12px;
}

.grid-container {
  display: grid;
  grid-auto-columns: 1fr;
}

.label {
  height : 20px;
}

.monday {
  grid-column: 1;
}

.tuesday {
  grid-column: 2;
}

.wednesday {
  grid-column: 3;
}

.thursday {
  grid-column: 4;
}

.friday {
  grid-column: 5;
}

.saturday {
  grid-column: 6;
}

.sunday {
  grid-column: 7;
}