.day {
    height : 100px;
    border: 1px black solid;
    margin-top: 1px;
    margin-left: 1px;
}

.one {
    grid-column: 2;
}

.two {
    grid-column: 3;
}

.three {
    grid-column: 4;
}

.four {
    grid-column: 5;
}

.five {
    grid-column: 6;
}

.six {
    grid-column: 7;
}

.seven {
    grid-column: 8;
}